<div *ngIf="!loginService.currUser">
  <app-login></app-login>
</div>
<div *ngIf="loginService.currUser">
  <h1 class="display-4 text-white text-center my-md-2">
    <span
      ><img class="mx-md-2 mt-md-1" src="../assets/crown.png" width="130"
    /></span>
    Keep Calm and Blog On
    <span
      ><img class="mx-md-2 mt-md-1" src="../assets/crown.png" width="130" />
    </span>
    <button
      type="button"
      class="btn btn-light fixed-top mr-3 mt-3 log-out"
      (click)="logout()"
    >
      Log Out
    </button>
  </h1>

  <h2 class="m-md-3 mx-md-3 text-white font-weight-light">Your Posts</h2>

  <div class="row d-flex justify-content-start container">
    <div class=".col-12 .col-sm-6 ml-5 list">
      <app-list></app-list>
    </div>
    <div class=".col-12 .col-sm-6 ml-5 router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
