<!DOCTYPE html>
<head>
   <title>Blog Web Page</title> 
</head>
<body>
    <table> 
        <tr>
            <th>Title</th> 
            <th>Body</th> 
        </tr>
       
        <% for(var i = 0; i < Math.min(5, my_arr.length); i++){ %>
        <tr >  
            <td> <%- my_arr[i].title %> </td> 
            <td> <%- my_arr[i].body %> </td>
        </tr>
         <% }%>
    </table>
    <!-- refer to s/o link on how to embed conditionals in ejs -->
    <% console.log(button)%>  <!-- there's a difference between if {} and if [newline]{} -->
    <% if(button){ %>
        <a id="next" href="http:/blog/<%=username%>?start=<%=i+1%>">next</a> 
    <% } %>
</body>
</html>

