<!DOCTYPE html>
<head>
   <title>Blog Web Page</title> 
</head>
<body>
    <form  method="post">
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password">
        <% if(redirect){ %> <!-- href in this case is an absolute url haha-->
        <input type="hidden" name="redirect" value="<%=redirect%>">
        <% } %>
        <input type="submit" value="Login">
    </form>
</body>
</html>