<!DOCTYPE html>
<head>
   <title>Blog Web Page</title> 
</head>
<body>
    <form action="/login" method="post">
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
</body>
</html>